  html {
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-family: 'Montserrat', 'Arial Black', sans-serif;
    font-size: 16px;
    background: #343838;
}

/* text */

  h1 {
    font-size: 4em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #FFF;
}

  h2 {
    font-size: 1em;
    font-weight: ;
    color: #FFF;
    text-align: center;
    margin-bottom: 10vh;
}
  h2:hover {
    color: #DDD;
}

  h3 {
    font-size: .8em;
    font-weight: normal;
    color: #FFF;
    text-align: center;
    z-index: 1;
    line-height: 2em;
}

  a {
    color: #DDD;
    text-decoration: none;
    font-size: .7em;
}

  p {
    color: #FFF;
    font-size: .7em;
    text-align: center;
}

  /* placeholder text colour */
  ::-webkit-input-placeholder {
     color: #EEE;
     font-size: .9em;
}
  :-moz-placeholder {
     color: #FFF;
}
  ::-moz-placeholder {
     color: #FFF;
}
  :-ms-input-placeholder {
     color: #FFF;
}



/* body */

  html, body {
    height: 100%;
}

  img.bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    min-height: 100%;
    min-width: 1280px;
    width: 100%;
    height: auto;

    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

  #overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;

    display: block;
    width: 100vw;
    height: 100vh;

    background-color: rgba(0,0,0,.3);
}

  #content {
    position: absolute;
    height: 65vh;
    width: 30vw;
    margin-top: 20vh;
    margin-left: 35vw;
    text-align: center;
    z-index: 3;
    border: solid .25em #FFF
}

  #header {
    position: absolute;
    padding-top: 5vh;
    padding-bottom: 1vh;
    width: 30vw;
    text-align: center;
}

  #login {
    position: absolute;
    text-align: center;
    left: auto;
    right: auto;
    width: 30vw;
    margin-top: 30vh;
    font-size: 1em;
    color: #FFF;
}
  img.email, img.password {
    position: absolute;
    width: 1.25em;
    margin-left: .6em;
    margin-top: 1.75vh;
    z-index: -1;
}

  .shell {
    height: 6vh;
    width: 17.5vw;
    text-align: center;
    background-color: rgba(255,255,255,.35);
    border: none;
    margin-bottom: .3125em;
    border-radius: 2px;
    border: 0;
    color: #FFF;
  }

  .shell.focus {
}

  input[type=submit] {
    height: 6vh;
    width: 17.5vw;
    border-radius: 2px;
    margin-top: 15px;
    border: 0;
    color: #FFF;
    background: rgba(100,125,255,.45);
}


/* media query */

  @media all and (min-width: 1600px){

}

  @media all and (min-width: 701px){

}

	@media all and (min-width: 100px){

}

	@media (-webkit-min-device-pixel-ratio: 2) {

}
